# secrets!
.env
*.env.local
application-prod.yml
application-secrets.yml
k8s/secrets/

# maven
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# ide
*.iml
*.iws
*.swp
.vscode/*.json
!cpp-processor/.vscode/settings.json

# spring
*.log
logs/

# other build directories
build/

# os
.DS_Store
Thumbs.db

# docker volumes
postgres-data/
mongo-data/

# c++ build output
cpp-processor/build/
cpp-processor/.cache/
CMakeUserPresets.json